# Rehan School Clone - Environment Variables
# This project does not require environment variables for development.
# All content is statically defined in src/data/siteData.js.
#
# If you want to add email functionality (e.g., EmailJS), add:
# VITE_EMAILJS_SERVICE_ID=your_service_id
# VITE_EMAILJS_TEMPLATE_ID=your_template_id
# VITE_EMAILJS_PUBLIC_KEY=your_public_key
